<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8"/>
    <title>Registro Garantía::..</title>
    <link rel="stylesheet" href="css/estilos.css"/> <!--enlace de hoja de estilos -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- *****************************************Bootstrap.Estilos***************************************** -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/><!--enlace bootstrap -->
    <!-- *****************************************Lists***************************************** -->
    <script src="js/Lists.js"></script>
    <!-- *****************************************JQuery***************************************** -->
    <script src="js/jquery.js"></script> 
    <!-- *****************************************Bootstrap.Códigos***************************************** -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"> <!-- enlace con fuentes font-awosome-->
    <!-- *****************************************Angular Librerías***************************************** -->
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <!-- *****************************************Boostrap Angular Librerías***************************************** -->
    <script src="js/ui-bootstrap-tpls-2.5.0.js"></script>
    <!-- *****************************************Example Código***************************************** -->
    <script src="js/example.js"></script>
    <!-- *****************************************Código de Select Boostrap Angular***************************************** -->
    <script src="./select.js"></script>
    <link rel="stylesheet" href="./select.css">
    <script src="./demo.js"></script>
    <!-- *****************************************Librería de Select Boostrap Angular***************************************** -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <!-- *****************************************Librería de controlador principal***************************************** -->
    <script src="js/controller.js"></script>
    <!-- *****************************************Librería de angular loading***************************************** -->
    <script src="js/spin.min.js"></script>
    <script src="js/angular-loading.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/angular-loading.css" />
    <!-- *****************************************Librería de angular tags inputs***************************************** -->
    <link rel="stylesheet" href="css/ng-tags-input.min.css" />
    <script src="js/ng-tags-input.min.js"></script>
    <!-- *****************************************Librería de file upload***************************************** -->
    <script src="js/angular-file-upload.min.js"></script>

</head>

<body ng-controller="ctrlWarrantyLogin" class="background-login">
    <div dw-loading="myloading" dw-loading-options="{text: 'Working...'}" >
        <div class="container">
            <div class="row form-login ">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="text-center margen-col2 text-login">
                        <br>
                        <h3>WAPPrranty</h3>
                        <p class="text-center">Don´t Worry.....</p>
                        <p class="text-center">All warranties in ONE cloud place... </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 well ">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#sign-in" data-toggle="tab">LOGIN</a></li>
                        <li><a href="#sign-out" data-toggle="tab">CREATE ACCOUNT</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane active in" id="sign-in">
                            <form id="tab">
                                <br>
                                <legend>Sign In</legend>
                                <div ng-class="strEmailLogonClass" >
                                    <label for="email">Email Address:</label>
                                    <input ng-model="userLogon.strEmail" class="form-control" id="" placeholder="">
                                </div>
                                <div ng-class="strPasswordLogonClass" >
                                    <label for="password">Password:</label>
                                    <input ng-model="userLogon.strPassword" type="password" class="form-control" id="password" placeholder=" ">
                                </div>
                                <button ng-click="Logon();" class="btn btn-primary btn-block">Sign In</button>
                                <div class="text-password">
                                    <p>forgot your password? <a ng-click="RecoverPassword();" href="#">click here</a></p>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <p>-Or Sign In With-</p>
                                </div>
                                <div class="text-center">
                                    <a class="btn social-facebook" href="#"  title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a class="btn social-twitter" href="#"  title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a class="btn social-linkedin" href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                    <a class="btn social-google" href="/auth/google"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </form> <!--Form ITab-->
                        </div> <!--FIN dibTabPan-->
                        <div class="tab-pane fade" id="sign-out">
                            <form id="tab2">
                                <br>
                                <legend>Sign Up</legend>
                                <div ng-class="strFirstNameClass">
                                    <label for="email">First name:</label>
                                    <input ng-model="user.strFirstName" class="form-control" placeholder="">
                                </div>
                                <div ng-class="strLastNameClass">
                                    <label for="password">Last name:</label>
                                    <input ng-model="user.strLastName" class="form-control" placeholder=" ">
                                </div>
                                <div ng-class="strEmailClass">
                                    <label for="password">Email Address:</label>
                                    <input ng-model="user.strEmail" class="form-control" placeholder=" ">
                                </div>
                                <div ng-class="strPasswordClass">
                                    <label for="password">Password:</label>
                                    <input ng-model="user.strPassword" type="password" class="form-control" placeholder=" ">
                                </div>
                                <div ng-class="strPasswordClass">
                                    <label for="password">Confirm Password:</label>
                                    <input ng-model="user.strConfirmPassword" type="password" class="form-control" placeholder=" ">
                                </div>
                                <div ng-class="strPhoneNumberClass">
                                    <label for="password">Phone Number:</label>
                                    <input ng-model="user.strPhoneNumber" class="form-control" placeholder=" ">
                                </div>
                                <div ng-class="strCountryClass" >
                                    <label for="sel1">Country: </label>
                                    <ui-select ng-model="user.country" theme="bootstrap" title="choose a country">
                                        <ui-select-match placeholder="choose or find a country...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="country in countries | filter: { name: $select.search } ">
                                            <span ng-bind-html="country.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <button ng-click="NewUserRegister();" class="btn btn-primary btn-block">Sign Up</button>
                            </form>
                        </div> <!--tab-pane fade-->

                    </div> <!--FIN myTabContent-->
                </div> <!--FIN DIV col-md-4 well form-login-->

            </div> <!--FIN DIV row form-login-->
        </div>  <!--FIN DIV 1 Container-->

        <footer></footer>
    </div>  <!--FIN Loading-->
</body>
</html>