<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate::..</title>
    <link rel="shortcut icon" href="img/LogoInv2.png" /> <!-- enlace icono favicon-->
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <script src="js/sweetalert.min.js"></script>
    <link rel="stylesheet" href="css/ng-tags-input.min.css" />
    <script src="js/ng-tags-input.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/stylelogin.css"> <!-- enlace con hoja estilos-->
   <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> <!-- enlace boostrap-->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"> <!-- enlace con fuentes font-awosome-->


<style type="text/css">

.navbar-default {
    background-color: #2c3e50;
    border-color: #e7e7e7;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #F6F3F3;
    background-color: transparent;}

.navbar-default .navbar-nav > li > a {
    color: #bdc3c7;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #F39B29;
    background-color: transparent;
}
   

</style>

</head>

<body ng-cloak>

    
    <nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Menu Navegacion</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/index.html" style="padding-top:0.60%; ">
              <img src="img/LogoInv2.png" width="50" height="45"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/index.html"> <span class="glyphicon glyphicon-home"></span> Inicio</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
    </nav>
    

    <div ng-controller="ctrlLogin">
             
         
        <div dw-loading="myloading" dw-loading-options="{text: 'Procesando...'}">

            <div class="login-wrap">


                <div class="login-html ">
                    
                    <div class="login-form">
                        <form class="sign-in-htm">

                        <div ng-show="showlogin">
                                                  
                            <div class="text-center" style="margin-bottom: 5px; color: #555;">
                                <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
                            </div>                                                    
                            <div class="input-group group">

                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <label for="user" class="sr-only control-label">Correo Electrónico</label>
                                <input ng-model="logEmail" type="text" class="form-control" placeholder="Ingrese su Correo Electrónico">
                            </div>
                            <div class="input-group group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <label for="pass" class="sr-only control-label">Contraseña</label>
                                <input ng-model="logPassword" type="password" class="form-control" data-type="password" placeholder="Ingrese su contraseña">
                            </div>
                            <div class="group">
                                <input ng-click="Login();" type="submit" class="button" value="Ingresar">
                            </div>
                            <div class="hr"></div>
                            <div class="foot-lnk">
                                <a href="#" ng-click="ForgotPassword();">¿Olvidaste la contraseña?</a> <br>
                                <a href="#" ng-click="showlogin = false">¿Aún no tienes un usuario? Regístrate</a> <br>
                            </div>

                        </div>
        

                        </form>

                    <div ng-show="!showlogin">

                        <div>
                            <a href="#" ng-click="showlogin = true" style="font-size: 16px;"><span class="glyphicon glyphicon-arrow-left"></span></a>
                            <h3 class="text-center">Regístrate</h3>
                            <div class="input-group group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <label for="pass" class="sr-only control-label">Empresa</label>
                                <input ng-model="regEnterprise" type="text" class="form-control"  placeholder="Nombre de empresa">
                            </div>
                            <div class="input-group group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <label for="pass" class="sr-only control-label">Correo Electrónico</label>
                                <input ng-model="regEmail" type="text"class="form-control" placeholder="Correo electronico">
                            </div>
                            <div class="input-group group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                                <label for="pass" class="sr-only control-label">Teléfono -Opcional-</label>
                                <input ng-model="regPhone" type="text" class="form-control"  placeholder="Numero Telefonico">
                            </div>
                            <div class="input-group group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                                <label for="pass" class="sr-only control-label">Ubicación Estado</label>
                                <select class="form-control"
                                        ng-model="selectedState"
                                        ng-options="State as State.name for State in States">
                                <option value="" disabled="" selected="">Seleccione Estado</option>
                                </select>

                            </div>
                            <div class="group">
                                <input ng-click="Registration();" type="submit" class="button" value="Registrarse">
                            </div>
                            
                        </div>
                    </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
     <footer>
        <div class="container text-center">
            <h6>Todos los derechos reservados por Joka Sistemas © 2015.RIF.J-401738621</h6>
            
        </div>
        
    </footer>
    
    <script src="js/controller.js"></script>
    <script src="js/angular-file-upload.min.js"></script>
    <script src="js/spin.min.js"></script>
    <script src="js/angular-loading.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/angular-loading.css" />
    <link rel="stylesheet" type="text/css" href="css/autocomplete.css" />
    <script src="js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> <!-- enlace botstrap js-->
   
    

</body>
</html>
