<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tu Cuenta::..</title>
    <link rel="shortcut icon" href="img/LogoInv2.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <script src="js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/stylelogin.css"/> <!-- enlace con hoja estilos-->
    <link rel="stylesheet" href="css/ng-tags-input.min.css" />
    <script src="js/ng-tags-input.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    
<style type="text/css">
  .navbar-default {
    background-color: #2c3e50;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a {
    color: #bdc3c7;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #F39B29;
    background-color: transparent;}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #F39B29;
    background-color: transparent;
}

.file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;

}

.menu-fixed {
    position:fixed; /*fijo en pantalla*/
    z-index:1000; /*arriba de todos los elementos*/
    top:0; /*pegado a la capa superior*/
    max-width:100%;
    width:100%;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);
} /*menu fijo*/


</style>
</head>
<body ng-cloak>
  <div ng-controller="ctrlUploadFile">
    
    <nav class="navbar navbar-defaul menu-fixedt" style="">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Menu Navegacion</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/index.html" style="padding-top:0.60%;">
            <img src="img/LogoInv2.png" width="50" height="45"/>
        </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/index.html" style=""><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span>
                {{ActiveUser}}
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-click="CloseSession();"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
              </ul>
            </li>
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

   <div dw-loading="myloading" dw-loading-options="{text: 'Procesando...'}">
   <div class="container">    
  <div class="row" style="margin-top: 50px">
    <div class="well">
      <ul class="nav nav-tabs">
       <li class="active"><a href="#archivo" data-toggle="tab">Subir Inventario</a></li>
        <li><a href="#perfil" data-toggle="tab">Actualizar tus datos</a></li>
        <li><a href="#contrasena" data-toggle="tab">Cambiar tu contraseña</a></li>
      </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="archivo">
        <div class="file-input-wrapper"  style="margin-top: 2%;">
          <button class="btn-file-input" style="border:none;border-radius:25px; background-color:#34495e;color:#f9f1f1; display:block;"><span class="glyphicon glyphicon-folder-open"></span> Subir Archivo</button>
          <input type="file" accept=".csv, .txt" nv-file-select uploader="uploader" multiple />
        </div>
        <br>
        <div ng-show="Products.length > 0">
          <div class="well well-lg">
            <div class="table-responsive ">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Fila</th>
                    <th>Resultado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="Product in Products">
                    <td>{{Product.Fila}}</td>
                    <td>{{Product.Msg}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
           </div>
        </div>
      </div>
      <div class="tab-pane fade" id="perfil">
        <form id="tab2"  style="margin-top: 2%;">
          <div class="form-group">
            <label for="usr">Empresa:</label>
            <div class="input-group">
              <span class="input-group-addon info"><span class="glyphicon glyphicon-user"></span></span>
              <input ng-model="regEnterprise" type="text" class="form-control" placeholder="Empresa">
            </div>
          </div>
          <div class="form-group">
            <label for="usr">Teléfono:</label>
            <div class="input-group">
              <span class="input-group-addon "><span class="glyphicon glyphicon-phone"></span></span>
              <input ng-model="regPhone" type="text" class="form-control" placeholder="Telefono">
            </div>
          </div>
          <div class="form-group">
            <label for="usr">Ubicación / Estado:</label>
            <div class="input-group">
              <span class="input-group-addon "><span class="glyphicon glyphicon-globe"></span></span>
              <select class="form-control"
                ng-model="selectedState"
                ng-options="State as State.name for State in States">
              </select>
            </div>
          </div>
          <div class="form-group boton">
            <input ng-click="updateUserData();" type="submit" class="button" value="Cambia tus datos">
          </div>
        </form>
      </div>
      <div class="tab-pane fade" id="contrasena">
        <form id="tab3" style="margin-top: 2%;">
          <div class="form-group">
            <label for="usr">Nueva Contraseña:</label>
              <div class="input-group">
                <span class="input-group-addon "><span class="glyphicon glyphicon-lock"></span></span>
                <input ng-model="regPassword" type="password" class="form-control" placeholder="Nueva Contraseña">
              </div>
          </div>
          <div class="form-group">
            <label for="usr">Repetir Contraseña:</label>
            <div class="input-group">
              <span class="input-group-addon "><span class="glyphicon glyphicon-pencil"></span></span>
              <input ng-model="regPasswordRepeat" type="password" class="form-control" placeholder="Repetir Contraseña">
            </div>
          </div>
          <div class="form-group boton">
            <input ng-click="updatePassword();" type="submit" class="button" value="Cambia tu clave">
          </div>
        </form>
      </div>
    </div>
  </div> 
           
  </div>        
  
  
  
    <script src="js/controller.js"></script>
    <script src="js/angular-file-upload.min.js"></script>
    <script src="js/spin.min.js"></script>
    <script src="js/angular-loading.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/angular-loading.css" />
    <link rel="stylesheet" href="css/upload_style.css">
    <script src="js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>